PORT = 4000

NODE_ENVIRONMENT = "development"

DATABASE_URL = "postgresql://postgres:Manish05@localhost:5432/appointmentbookingsaas"

CORS_ORIGINS = "http://localhost:3000"

# JWT Secrets (generate random 64+ character strings)
JWT_ACCESS_TOKEN_SECRET="8a4c5d3e9f2b7c1a6d8e4f9a2b5c7d1e8f3a6b9c2d5e7f1a4b8c6d9e2f5a7b1"
JWT_REFRESH_TOKEN_SECRET="f1d8c7b6a5e4d3c2b1a9f8e7d6c5b4a3e2f1d9c8b7a6e5d4c3b2a1f9e8d7c6"

# Token Expiry
ACCESS_TOKEN_EXPIRY="30d"
REFRESH_TOKEN_EXPIRY="60d"