PORT = 4000

NODE_ENVIRONMENT = "development"

DATABASE_URL = "postgresql://postgres:Manish05@localhost:5432/appointmentbookingsaas"

CORS_ORIGINS = "http://localhost:3000"

JWT_SECRET="8a4c5d3e9f2b7c1a6d8e4f9a2b5c7d1e8f3a6b9c2d5e7f1a4b8c6d9e2f5a7b1"
JWT_TOKEN_EXPIRY="30d"

